.header {
  background: #309CF1;
  color: #fff;
  text-align: center;
  padding: 1rem;
  composes: sans from "../../../styles/shared.module.css";
  font-size: 1.5rem;
}

.container {
  composes: container from "../../../styles/shared.module.css";
}
