.name {
  padding-bottom: 1rem;
  margin-top: .5rem;
}

.vertical {
  vertical-align: middle;
}

.name_blue {
  border-bottom: solid 5px #309cf1;
  composes: name
}
.name_yellow {
  border-bottom: solid 5px #F4A031;
  composes: name
}
.name_red {
  border-bottom: solid 5px #ED462F;
  composes: name
}
.name_green {
  border-bottom: solid 5px #54B45E;
  composes: name
}

.icon_blue {
  color: #309cf1;
  composes: vertical
}
.icon_yellow {
  color: #F4A031;
  composes: vertical
}
.icon_red {
  color: #ED462F;
  composes: vertical
}
.icon_green {
  color: #54B45E;
  composes: vertical
}
